.sell{
 background: #EEEDEE;
 width: 70%;
 max-width: 600px;
 margin: 1em auto;
 padding: 1em;
}
.sell div  {
    text-align: left;
}
.sell div label{
    font-size: 15px;
    font-weight: 500;
    margin-left: .5em;
}
.sell h1{
    font-size: 1.5em;
}
.sell input{
    border-radius: 5px;
    margin: .3em;
    padding: 0.3em;
    width: 90%;
    border:1px solid #EEEDEE;
}
.inner-amount{
    display: grid;
    grid-template-columns: 4fr 5fr;
}

@media(min-width:500px){
    .sell{
        padding: 2em;
    }
    .sell input{
        padding: .8em;
        margin: 0.5em;
    }
    .sell h1{
        font-size: 2em;
    }
    .sell div{
        margin-top: 1.5em;
    }
    .sell div label{
        margin-left: 1em;
    }
    .inner-amount{
         grid-template-columns: 1fr 3fr;
   
    }
}
.ind-buss{
    display: flex;
    margin: 2em 1em;

}
.ind-buss input{
    border-radius: 15px;
}
@media(min-width:500px){
    .ind-buss input{
        padding: 0.5em;

    }
}
.ind-buss :nth-of-type(2){
    /* z-index:-5; */
    
}
.tc-txt p{
    width: 70%;
    font-size: 14px;
    font-weight: 500;
    margin: 1.5em auto;
}
.tc-txt  a{
   color: #7c20be;
   text-decoration: none;
}
.gs-btn button{
    width: 90%;
    padding: .2em;
    background-color:#7c20be;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 1em 0;
}
@media(min-width:500px){
 .gs-btn button{
    padding: .5em;
    margin: 2em auto;
 }   
}
